*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.main-container{
    min-height: 400px;
    align-content: center;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.LHS{
    width: 50%;
    padding: 40px;
}

.movie-detail{
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;

}

.movie-detail img{
    height: 170px;
}

.movie-name{
    padding: 0px 20px;
    line-height: 30px;
}

.RHS{
    width: 50%;
    padding: 40px;
}

.RHS img{
    height: 400px;
    box-shadow:  10px 40px 50px #000;
}